Package: enigma2-plugin-extensions-tvtom3u
Version: 1.7
Section: enigma2
Priority: optional
Architecture: all
Maintainer: @lululla
Description: TvToM3u Plugin
Depends: /
Source: /
Homepage: http://www.corvoboys.com
OE: 2.0
License: *
